*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
       /* font section  */
       .font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
  background-color: #1A0B2E;
}
/* nav section  */

nav{
  width: 100%;
  border-bottom: #412567 1px solid;
}
#nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1600px;
  padding: 24px 0px;
  
}
.nav-list {
  display:flex ;
  list-style: none;
  gap: 32px;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
}
#nav-btn{
          background-image: linear-gradient(60deg,rgb(247 233 63) ,rgb(251 9 180) ,rgb(145 0 248) );
          display: flex;
          gap: 12px;
          align-items: center;
          padding: 12px 15px;
          border-radius: 20px;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: 600;
          border: none;
          cursor: pointer;
        }
        /* header section */
        
#hero{    display: flex;
          flex-direction: column;
           align-items: center;
           justify-items: center;
           justify-content: center;
           background: url("./media/hero-bg.png") no-repeat center  ; 
           background-size: cover;
           padding: 80px 0px;

        }
#hero-img{
        background: url(./media/hero-circle.png);
        background-size: cover;
        width: 400px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 30px;
        }
#new-{
        background-color: #00FF88;
        padding: 8px 10px;
        border-radius: 18px;
        box-shadow: 0px 0px 10px #00FF88 ;
        position: absolute;
        top: 10%;
        right: 0%;
        }
#hero-img image{
        max-width: 200px;
        max-height: 200px;
        }
 #new- p {
        color: #1A0B2E;
        font-size: 18;
        font-weight: 600;
        }
h1{
          font-size: 60px;
          font-weight: 800;
          color: #FFFFFF;
        }
#hero>p{
  color: #FFFFFF;
  font-weight: 300;
  line-height: 50px;
}
#header-btn{
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
#btn-spotify{
          background-image: linear-gradient(60deg,rgb(247 233 63) ,rgb(251 9 180) ,rgb(145 0 248) );
          display: flex;
          gap: 12px;
          align-items: center;
          padding: 10px 15px;
          border-radius: 20px;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: 600;
          border: none;
          cursor: pointer;
} 
#btn-message{
          background: none;
          display: flex;
          gap: 12px;
          align-items: center;
          padding: 10px 15px;
          border-radius: 20px;
          color: #00FF88;
          font-size: 16px;
          font-weight: 600;
          border: 1px solid #00FF88;
          cursor: pointer;
}
     /*about section */
section{
  max-width: 1600px;
  text-align: center;
  margin: 0 auto;
}

h2{
  font-size: 48px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about p{
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  width: 1000px;
}
#about hr{
    margin-top: 80px;
    margin-bottom: 20px;
    border: 0.5px solid #ffffff ;
    opacity: 10%;
    width: 100%;
}
#count-box{
  display: flex;
  justify-content: space-around;
  
  margin-top: 80px;
  margin-bottom: 120px;
}
.number{
  font-size: 48px;
  font-weight: 900;
  color: #00FF88;
  margin-bottom: 10px;
}
.number-title{
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #FFFFFF;

  
}
     /* Why Choose TechWave */
.common-heading{
  color: #FFFFFF;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.choose-title{
    line-height: 36px;
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}
#choose-main{
  background-color: #230E3D;
  padding: 120px ;
}
.choose-content{
 background-color: #35116540;
 border-radius: 20px;
 padding: 40px 60px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 20px;
 text-align: left;
 
}
#choose{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3 ,1fr );
  grid-template-rows: repeat(3, 1fr);
  margin: 40px auto;
}
#audio{
  grid-column: span 1;
  grid-row: span 2;
  justify-content: center;
}
#dvice{
  grid-column: span 2;
  grid-row: span 1;
}

#community{
  grid-column: span 2;
  grid-row: span 1;
}
#interview{
  grid-column: span 2;
  grid-row: span 1;
}
#resource{
  grid-column: span 1;
  grid-row: span 1;
}
     /* Featured Episodes  */

.video{
  width: 380px;
  background-color: #250D44;
  border-radius: 15px;
  overflow: hidden;
}

.video-details{

  text-align: left;
  padding: 20px 30px 30px 30px; 
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#video-section{
  background-color: #1A0B2E;
  padding-top: 60px;
}
#feature{
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 50px 30px 50px 30px;
}
.time{
      color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}
.time img{
  width: 15px;
  height: 15px;
}

/* meet the host section  */
#host-name{
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;

}
#host-container{
  display: flex;
  padding: 30px;
  gap: 24px;
  background-color: #35116540;
  border-radius: 15px;
  width: 1200px;
  margin: 30px auto;
}
#host-description{
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

      /* footer section */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 180px 0px;
  background: url(./media/footer-bg.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

}
#footer-icon{
  display: flex;
  gap: 40px;
  margin: 40px auto;
}
.icon-img{
  display: flex;
  gap: 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}
#copy-right{
   color: #FAFAFA;
  font-size: 16px;
  font-weight: 400;

}



@media screen {
  
}